@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JellyBelly";
  src: url("/JellyBellyFont-Regular.ttf") format("truetype");
  font-weight: normal; /* or 400 */
  font-style: normal;
}
@font-face {
  font-family: "ChocoCrunch";
  src: url("/Choco Crunch.ttf") format("truetype");
  font-weight: normal; /* or 400 */
  font-style: normal;
}
/* globals.css */
.text-border {
  color: transparent; /* Makes the inner part of the text transparent */
  -webkit-text-stroke: 2px greenyellow; /* Adds a border with 2px thickness and yellow color */
  font-weight: bold; /* Optional: Makes the text stand out */
}

backgroundimage: `linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  ),
  url("/bg.jpg") `, .centered-toast {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.centered-toast-body {
  text-align: center;
}
